body{
    background-color: #548687;
    text-align: center;
}
.container{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.game{
    height: 50vmin;
    width: 50vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 15vmin;
    width: 15vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
    color: #b0413e;
}
#reset-btn{
    padding: 1rem;
    font-size: 1.2rem;
    background-color: #191913;
    color: #fff;
    border-radius:1rem ;
    border: none;
}
#new-btn{
    padding: 1rem;
    font-size: 1rem;
    background-color: #b0413e;
    color: #fff;
    border-radius:1rem ;
    border:#191913;
    border-color: #191913;
}
#msg{
    color: bisque;
    font-size: 4vmin;
}
.hide{
    display: none;
}